.hourly-card-container {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-radius: 5px;
  background: linear-gradient(135deg, #4a4a4a, #2a2a2a);
  color: white;
}
.hourly-card-container > div {
  justify-content: center;
  padding: 10px;
  flex-grow: 1;
  text-align: center;
}
 
.hourly-card-temperature {
  font-size: 5rem;
}
 
.hourly-card-hour {
  font-size: 3rem;
}
 
.hourly-card-precipitation {
  font-size: 2rem;
}