.profile-card {
  max-width: 800px;
  margin: auto;
  border: 1px solid var(--border);
  padding: 16px;
  border-radius: var(--radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background-color: var(--card-bg);
}

.profile-img {
  width: 100%;
  border-radius: var(--radius);
  margin-bottom: 16px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 14px;
}
p {
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2.1;
    color: var(--text-secondary);
}

.profile-card .btn {
    display: block;
    margin: 24px auto 0 auto;

}
