.profile-card {
  max-width: 800px;
  margin: auto;
  background: var(--card-bg);
  padding: 24px;
  border-radius: var(--radius);
}

.profile-img {
  width: 100%;
  border-radius: var(--radius);
  margin-bottom: 16px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 14px;
}
p {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 2.1;
    color: var(--text-secondary);
}

.profile-card .btn {
    display: block;
    margin: 24px auto 0 auto;

}
